.navbar{
    background-color: rgba(11, 7, 16, 0.75);
    backdrop-filter: blur(7px);
    display: flex;
    vertical-align: center;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(160, 100, 255, 0.12);
    position: sticky;
    top: 0;
    box-shadow: 0 0 20px rgba(255, 23, 236, 0.582);
    margin:0px 20px 20px 20px;
    border-radius:0 0 20px 20px;
}
.app-link {
    text-align: right;
    text-decoration: none;
}
.brand-text {
    margin-right: auto;
}
.brand-text, .app-link {
    font-weight: 600;
    font-size: 1rem;
    color:rgb(255, 255, 255);
}
.open-chat {
    background: #f500cc;
    background: linear-gradient(45deg,rgba(245, 0, 204, 0.5) 0%, rgba(0, 212, 255, 0.5) 100%);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--border-color);
}