.chatarea {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--chatbg);
    background-color: #141416;
}

#messageInput {
    padding: 0.75rem;
    border: 1.5px solid #847c96;
    border-radius: 3rem;
    box-shadow: 0px 0px 0px 4px rgba(104, 39, 255, 0.5);
    font-size: 1rem;
    margin: 1.4rem;
    margin-top: auto;
    width: calc(100% - 2rem);
    resize: none;
    outline:none;
    background-color: #1a1120;
    color: #fff;
}